body,
html {
	height: 100%;
	margin: 0;
}

.container {
	text-align: center;
	height: 100%;
	padding: 16px;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 275px 825px;
	grid-template-rows: 150px 150px 750px 150px;
	/* grid-template-areas:
		'header header'
		'sidebar nav'
		'sidebar article'
		'footer footer'; */
	grid-gap: 15px;
}

.container div {
	padding: 15px;
	font-size: 32px;
	font-family: Helvetica;
	font-weight: bold;
	color: white;
	border-radius: 15px;
}

.header {
	background-color: #ffde22;
	grid-area: header;
	grid-column: span 2;
	grid-row: span 1;
}

.sidebar {
	background-color: #ff7755;
	grid-area: sidebar;
	grid-column: span 1;
	grid-row: span 2 / 4;
}

.nav {
	background-color: #00ddff;
	grid-area: nav;
	grid-column: 2/3;
	grid-row: 2 / 3;
}

.article {
	background-color: #bccbde;
	grid-area: article;
	grid-column: 2 /3;
	grid-row: 3/4;
}

.article p {
	font-size: 18px;
	font-family: sans-serif;
	color: white;
	text-align: left;
}

.footer {
	background-color: #393f4d;
	grid-area: footer;
	grid-column: span 2;
	grid-row: 4/5;
}
