.odd {
    background-color: #ffb6c1;
    font-family: Verdana, DejaVu Sans,sans-serif;
    
}

.cooler {
    font-size: 24px;
}


#two {
    background-color: #ffffff;
    color: #0000ff;
    font-size: 36px;
}

#four {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;

}