.left {
    background-color: hsl(0, 0%, 0%);
    color: rgb(255, 255, 255);


}

.right {
    background-color: hsl(60, 100%, 50%);


}

.left,
.right {
    font-size: 28px;
    font-family: "Times New Roman", Helvetica, sans-serif;

}